---
layout: sagamore
title: Sagamore
published: true
history:
  - item: <span class="main_color">2002</span> Firm Established
  - item: <span class="main_color">2006</span> Sagamore China Partners I (SCP I)
  - item: <span class="main_color">2009</span> Sagamore China Partners II (SCP II)
  - item: <span class="main_color">2013</span> Sagamore China Partners III (SCP III)
  - item: <span class="main_color">2015</span> Sagamore China Partners IV (SCP IV)
---

<section id="abdev_main_slider">
    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container"
         style="background-color:#E9E9E9;padding:0px;">
        <div id="rev_slider_1_1" class="rev_slider fullscreenbanner" style="display:none;">
            <ul>
                {% assign sliders = (site.slider | sort: 'sort') %}
                {% for slider in sliders limit:6 %}
                <!-- SLIDE 0 -->
                <li data-transition="{{ slider.transition }}" data-slotamount="7" data-masterspeed="{{ slider.speed }}"
                    data-thumb="{{ slider.thumb }}" data-saveperformance="off" data-title="{{ slider.title }}">
                    <!-- MAIN BACKGROUND IMAGE -->
                    <img src="{{ slider.image }}" alt="{{ slider.title }}" data-bgposition="center top"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption revelance-big tp-fade tp-resizeme rs-parallaxlevel-10" data-x="center"
                         data-hoffset="0" data-y="center" data-voffset="-100" data-speed="{{ slider.speed }}"
                         data-start="0"
                         data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
                         data-endelementdelay="0.1" data-endspeed="{{ slider.speed }}"
                         style="z-index: 2; max-width: none; max-height: none; white-space: nowrap;">
                        {{ slider.title }}
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption revelance-small-with-lines lfr ltl tp-resizeme rs-parallaxlevel-10"
                         data-x="center" data-hoffset="0" data-y="center" data-voffset="0"
                         data-speed="{{ slider.speed }}"
                         data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                         data-elementdelay="0.1" data-endelementdelay="0.1" data-end="5500"
                         data-endspeed="{{ slider.speed }}"
                         style="z-index: 3; max-width: none; max-height: none; white-space: nowrap;">
                        {{ slider.caption }}<br/>
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption revelance-button tp-fade tp-resizeme rs-parallaxlevel-10" data-x="center"
                         data-hoffset="0" data-y="center" data-voffset="80" data-speed="{{ slider.speed }}"
                         data-start="0"
                         data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
                         data-endelementdelay="0.1" data-endspeed="{{ slider.speed }}"
                         style="z-index: 4; max-width: none; max-height: none; white-space: nowrap;">
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
</section>

<section id="fund_investments" class="revel_section_dd section-tools">
    <header>
        <div class="revel_container">
            <h3>Fund Investments</h3>

            <p>We invest in private and public equity funds in order to access great investors at each stage
                of the capital and innovation cycle.</p>
        </div>
    </header>
    <div class="revel_section_content">
        <div class="revel_container">
            {% assign fund_investments = (site.fund_investments | sort: 'sort') %}
            {% for fund_investment in fund_investments limit:4 %}
            <div class="revel_column_dd_span3">
                <div class="revel_service_box revel_service_box_square">
                    <div class="revel_service_box_header">
                        <div class="fund_investments_icons">
                            &nbsp;
                        </div>
                        <h3>{{ fund_investment.title }}</h3>
                    </div>
                    <p>{{ fund_investment.description }}</p>
                    <div>{{ fund_investment.content }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="direct_investments" class="revel_section_dd section-users section_with_gray_background">
    <header>
        <div class="revel_container">
            <h3>Direct Investments</h3>

            <p>Sagamore seeks direct investment opportunities in non-strategic, but essential sectors in China such as agriculture, financial services and consumer products.</p>
        </div>
    </header>
    <div class="revel_section_content">
        <div class="revel_container direct_investment_container">
            {% assign direct_investments = (site.direct_investments | sort: 'sort') %}
            {% for direct_investment in direct_investments limit:6 %}
            <div class="revel_column_dd_span4">
                <div class="revel_team_member revel_team_member_style_1 hoverable {{ direct_investment.effect }}">
                    <div class="overlay_front">
                        <div class="revel_overlayed">
                            <div class="image_container">
                                <img src="{{ direct_investment.image }}" alt="{{ direct_investment.title }}">
                            </div>
                            <div class="content">
                                <h3 class="revel_title">{{ direct_investment.title }}</h3>

                                <p>{{ direct_investment.subtitle }}</p>


                            </div>
                        </div>
                    </div>
                    <div class="overlay_back">
                        <div class="image_container">
                            <img src="{{ direct_investment.inversed_image }}" alt="{{ direct_investment.title }}">
                        </div>
                        <div class="description">
                            {{ direct_investment.description }}
                        </div>

                        <div class="revel_social_under">
                            <a href="{{ direct_investment.href }}" target="_blank">
                                <span class="link">Visit Website</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="history" class="revel_section_dd no_padding_bottom section-light-bulb">
    <header>
        <div class="revel_container">
            <h3>History</h3>
            
            <p>Sagamore's founders have worked together since 2002 and have invested in over 100 funds and companies in Asia and the US. Sagamore's first investments focused on biotechnology and expanded to fund and direct investments in China with Sagamore China Partners (SCP) I in 2006. The team raised subquent funds SCP II and SCP III in 2010 and 2013. In total, Sagamore has over $250m in assets under management for investing in opportunities in China.</p>
        </div>
    </header>
    <div class="revel_section_content">
        <div class="revel_container">
            <div class="revel_column_dd_span12 aligncenter">
                <div class="revel-animo" data-animation="fadeInUp" data-duration="1000" data-delay="0">
                    <ul>
                        {% for history in page.history %}
                        <li>
                            {{ history.item }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="team" class="revel_section_dd section-users section_with_gray_background">
    <header>
        <div class="revel_container ">
            <h3>Team</h3>

            <p>Led by seasoned entrepreneurs, founders Peter Brooks and Rodrigo Yang, the firm's six professionals are based in Beijing (sourcing and diligence), Hong Kong (investment analytics) and Shanghai (operations).</p>
        </div>
    </header>
    <div class="revel_section_content">
        <div class="revel_container team_container">
            {% assign team = (site.team | sort: 'sort') %}
            {% for member in team %}
            <div class="revel_column_dd_span3">
                <div class="revel_team_member revel_team_member_style_1 revel-animo" data-animation="fadeInUp" data-duration="1000" data-delay="0">
                    <div class="revel_overlayed hoverable">
                        <div class="overlay_front">
                            <img src="{{ member.image }}" alt="{{ member.name }}">
                            <div class="revel_team_member_link">
                                <span class="revel_team_member_name">{{ member.name }}</span>
                                <span class="revel_team_member_position">{{ member.position }}</span>
                                <div class="description">
                                    {{ member.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="contact" class="revel_section_dd section-mail">
    <header>
        <div class="revel_container">
            <h3>Contact</h3>

            <p>Sagamore has offices in Beijing, Hong Kong and Shanghai. We are always looking for exciting business opportunities and new talent to join our team. Please <span class="link"><a href="mailto:info@sagainv.com"> contact us</a></span>  for more information.</p>
        </div>
    </header>
    <div class="revel_section_content">
        <div class="revel_container">
            {% assign contacts = (site.contact | sort: 'sort') %}
            {% for contact in contacts %}
            <div class="revel_column_dd_span4">
                <div class="revel_service_box revel_service_box_square">
                    <div class="revel_service_box_header">
                        <div class="contact_bg">
                            <div class="contact_icons">
                                &nbsp;
                            </div>
                        </div>
                        <h3>{{ contact.title }}</h3>
                    </div>
                    <p>{{ contact.address }}<br/>
                        {% if contact.telphone %}
                        {{ contact.telphone }}<br>
                        {% endif %}
                        {% if contact.email %}
                        <a href="mailto:{{ contact.email }}">{{ contact.email }}</a><br>
                        {% endif %}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>