<footer id="abdev_main_footer">
    <div class="container">
        <a href="#" id="abdev_back_to_top" title="Back to top">
            <i class="entypo-arrow-up7"></i>
        </a>

        <div id="footer_punchline">
            Made with <i class="entypo-heart"></i> in London
        </div>
        <div id="footer_copyright">
            © Copyright 2014 Revelance. All rights reserved.
        </div>
    </div>
</footer>

<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jquery.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jquery-migrate.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/rev_slider_init.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jquery.placeholder.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jquery.carouFredSel-6.2.1.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/ab-tweet-scroller.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/animo.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jquery.inview.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jquery.tipsy.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jquery.knob-custom.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jquery.ui.core.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jquery.ui.widget.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jquery.ui.accordion.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jquery.ui.tabs.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jquery.ui.effect.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jquery.ui.effect-slide.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jquery.isotope.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/superfish.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/masonry.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/jpreloader.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/waypoints.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/init.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/revelance/custom.js"></script>