<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Sagamore - Home Page</title>
    <meta name="description" content="Sagamore HTML5 premium template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/dist/style.min.css" type="text/css" media="all">
</head>