<footer id="abdev_main_footer">
    <div class="container">
        <a href="#" id="abdev_back_to_top" title="Back to top">
        </a>
        <div id="footer_copyright">
            ©Sagamore 2015. All rights reserved.
        </div>
    </div>
</footer>

<script type="text/javascript" src="{{ site.baseurl }}/js/dist/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/dist/modernizr.custom.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/dist/script.min.js"></script>
