<header id="abdev_main_header" class="clearfix">
    <div class="container">
        <div id="logo">
            <a href="#">
                <img id="main_logo" src="images/logo2.png" alt="Sagamore">
                <img id="inversed_logo" src="images/logo.png" alt="Sagamore">
            </a>
        </div>
        <nav>
            <ul id="main_menu">
                <li><a href="#fund_investments" class="scroll">Fund Investments</a></li>
                <li><a href="#direct_investments" class="scroll">Direct Investments</a></li>
                <li><a href="#history" class="scroll">History</a></li>
                <li><a href="#team" class="scroll">Team</a></li>
                <li><a href="#contact" class="scroll">Contact</a></li>
            </ul>
        </nav>
        <div id="ABdev_menu_toggle"><i class="entypo-list2"></i></div>
    </div>
</header>