<footer id="abdev_main_footer">
    <div class="container">
        <a href="#" id="abdev_back_to_top" title="Back to top">
        </a>

        <div id="footer_copyright">
            © Sagamore 2019. All rights reserved.
        </div>
    </div>
</footer>

<script type="text/javascript" src="{{ site.baseurl }}/js/dist/modernizr.custom.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/dist/jquery.min.js"></script>
{% if(site.env == "dev" %}
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/jquery-migrate.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/rev_slider_init.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/jquery.placeholder.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/jquery.carouFredSel-6.2.1.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/ab-tweet-scroller.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/animo.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/jquery.inview.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/jquery.tipsy.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/jquery.knob-custom.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/jquery.ui.core.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/jquery.ui.widget.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/jquery.ui.accordion.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/jquery.ui.tabs.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/jquery.ui.effect.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/jquery.ui.effect-slide.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/jquery.isotope.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/superfish.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/masonry.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/jpreloader.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/waypoints.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/init.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/src/custom.js"></script>
{% else %}
<script type="text/javascript" src="{{ site.baseurl }}/js/dist/script.min.js"></script>
{% endif %}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-63030852-1', 'auto');
    ga('send', 'pageview');

</script>​