<footer id="abdev_main_footer">
    <div class="container">
        <a href="#" id="abdev_back_to_top" title="Back to top">
        </a>
        <div id="footer_copyright">
            ©Sagamore 2015. All rights reserved.
        </div>
    </div>
</footer>

<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jquery.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jquery-migrate.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/rev_slider_init.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jquery.placeholder.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jquery.carouFredSel-6.2.1.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/ab-tweet-scroller.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/animo.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jquery.inview.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jquery.tipsy.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jquery.knob-custom.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jquery.ui.core.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jquery.ui.widget.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jquery.ui.accordion.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jquery.ui.tabs.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jquery.ui.effect.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jquery.ui.effect-slide.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jquery.isotope.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/superfish.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/masonry.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/jpreloader.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/waypoints.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/init.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/sagamore/custom.js"></script>