<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
{% include sagamore_head.html %}

<body>


<!--
Fixed Navigation
==================================== -->
{% include sagamore_header.html %}

<!--
End Fixed Navigation
==================================== -->


{{ content }}


{% include sagamore_footer.html %}

</body>
</html>
